/* h1.title {

    text-align: center;
} */

/* fix top menu */
div.topmenu.w3-black{
  width: 100%; 
  position: fixed;
  z-index: 1;
}


h2.title{
    text-align: center;
    font-size: 5vw;
} 

/* #content {
    text-align: center;
    color: cornflowerblue;
} */

h3{
  font-size: 5vw;
}



h4{
  font-size: 5vw;
}


h5{
  font-size: 5vw;
}


h6{
  text-align: center;
  font-size: 5vw;
}



/* h7{
  text-align: center;
  font-size: 5vw;
} */

#login{
    color:black;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

div.btn-group{
    position:relative;
    height: 20;
    right: 100;;
}


.container1 {
    position: relative;
    text-align: center;
    color: white;
  }
  

  .centered {
    position: absolute;
    top: 40%;
    left: 51%;
    transform: translate(-50%, -50%);
  }



/* shop now */
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    font-size: 17px;
  }
  
  .container2 {
    position: relative;
    /* max-width: 800px; */
    margin: 0 auto;
  }
  
  .container2 img {vertical-align: middle;}
  
  .container2 .content {
    position: absolute;
  bottom:0;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

  h1.shopnow{
   text-align: center;
   font-size: 5vw;
  }


/* 3 pictures in the same line   */
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }





